<div class="itemLog">
  <div class="header">
    <h4>Item Log</h4>
  </div>
  <div class="content">
    <ul>
      <li>
        <p class="editTimestamp">08/10/19</p>
        <p class="comment"> Initiated project.</p>
      </li>
      <li>
        <p class="editTimestamp">10/10/19</p>
        <p class="comment">Posted update comment.</p>
      </li>
      <li>
        <p class="editTimestamp">11/10/19</p>
        <p class="comment">Posted update comment.</p>
      </li>
      <li>
        <p class="editTimestamp">11/10/19</p>
        <p class="comment">Edited Project details.</p>
      </li>
      <li>
        <p class="editTimestamp">12/10/19</p>
        <p class="comment">Deleted update comment.</p>
      </li>
      <li>
        <p class="editTimestamp">12/10/19</p>
        <p class="comment">Edited update comment.</p>
      </li>
    </ul>
  </div>
  <div class="btnContainer">
    <button class="btn btn-primary">Close</button>
  </div>
</div>
